/* stylelint-disable at-rule-no-unknown */

@import "tailwindcss";

/* =========================
   Global CSS Variables
   ========================= */
:root {
  --background: #ffffff;
  --foreground: #171717;
}


/* =========================
   Dark Mode (System)
   ========================= */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* =========================
   Base Styling
   ========================= */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
